@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  z-index: 1050;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}


.formLogin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  border-radius: 7px;
  padding: 20px;
  align-items: center;
}

.areaLogin img {
  width: 420px;
}

.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.formLogin input {
  padding: 15px;
  font-size: 14px;
  width: 300px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}

.formLogin input:focus {
  border: 1px solid #f72585;
}

.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #f72585;
}

.btn {
  padding: 10px;
  background-color: #f72585;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0px 0px 40px 0px;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #ff0676;
}

.buttuns {
  display: flex;
  justify-content: space-around;
}

.error {
  color: #ff3860;
  font-size: 0.8rem;
}

input.ng-invalid.ng-touched {
  border: 1px solid #ff3860;
}
