<div class="modal-content" mat-dialog-content>
  <h2 style="padding: 10px" mat-dialog-title>Atualizar Produto</h2>
  <form class="formLogin" (ngSubmit)="onUpdate()">
    <div>
      <label for="codigo">ID</label>
      <input
        type="number"
        id="id"
        [(ngModel)]="id"
        name="id"
        required
        disabled
        placeholder="Digite o codigo do produto"
        autofocus
      />
    </div>
    <div>
      <label for="codigo">Codigo do produto</label>
      <input
        type="text"
        id="codigo"
        [(ngModel)]="codigo_produto"
        name="codigo"
        required
        placeholder="Digite o codigo do produto"
        autofocus
      />
    </div>

    <div>
      <label for="nome">Nome do produto</label>
      <input
        type="text"
        id="nome"
        [(ngModel)]="nome"
        name="nome"
        required
        placeholder="Digite o nome do produto"
      />
    </div>

    <div>
      <label for="marca">Marca</label>
      <input
        type="text"
        id="marca"
        [(ngModel)]="marca"
        name="marca"
        required
        placeholder="Digite a marca"
      />
    </div>

    <div>
      <label for="preco">Preço</label>
      <input
        type="number"
        id="preco"
        [(ngModel)]="preco"
        name="preco"
        required
        placeholder="Digite o preço"
      />
    </div>

    <div>
      <label for="unidade">Unidade</label>
      <input
        type="number"
        id="unidade"
        [(ngModel)]="unidades"
        name="unidade"
        required
        placeholder="Digite a unidade"
      />
    </div>

    <div>
      <label for="tamanho">Tamanho</label>
      <input
        type="text"
        id="tamanho"
        [(ngModel)]="tamanho"
        name="tamanho"
        required
        placeholder="Digite o tamanho"
      />
    </div>

    <div>
      <label for="cor">Cor</label>
      <input
        type="text"
        id="cor"
        [(ngModel)]="cor"
        name="cor"
        required
        placeholder="Digite a cor"
      />
    </div>
  </form>
  <div class="buttuns" mat-dialog-actions>
    <button class="btn" mat-button (click)="onClose()">Cancelar</button>
    <button class="btn" mat-button color="primary" (click)="onUpdate()">
      Atualizar
    </button>
  </div>
</div>
